body {
  background-image: url("../ressources/subtle_carbon.png");
  overflow: hidden;
}
.slide {
  background: #fff;
  padding-left: 5px;
}
.uiPanel {
  background: #141414;
  color: #b6a49c;
  width: 200px;
  height: 100%;
  font-family: korpo_sansregular;
}
.uiPanel.leftPanel {
  float: left;
}
.uiPanel.rightPanel {
  float: right;
}
.uiPanel ul {
  list-style-type: none;
  margin-left: 0;
}
.uiPanel .uiPanelSection {
  border-bottom: 1px solid #753d27;
}
.uiPanel .uiPanelSection header {
  padding-left: 0.5em;
}
.uiPanel .uiPanelSection:hover {
  background: #1b1b1b;
  cursor: pointer;
}
.uiPanel .uiPanelSection section {
  display: none;
}
.uiPanel .uiPanelSection.isActive {
  background: #1b1b1b;
}
.uiPanel .uiPanelSection.isActive header {
  border-bottom: 1px dashed #753d27;
}
.uiPanel .uiPanelSection.isActive section {
  padding-left: 10px;
  display: block;
}
.presentation {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 200px;
}
