doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "My awesome slideshare !"
    link(rel="stylesheet", href="vendor/foundation/css/normalize.css")
    link(rel="stylesheet", href="vendor/foundation/css/foundation.css")
    link(rel="stylesheet", href="vendor/fontAwesome/css/font-awesome.css")
    link(rel="stylesheet", href="css/style.css")
  body

    .uiPanel#PresentationPanel
      ul
        li.uiPanelSection Load/Save slideshare
        li.uiPanelSection Select slide
        li.uiPanelSection change slideshare theme
        li.uiPanelSection Presentation mode
    
    .uiPanel#SlidePanel
      ul
        li.uiPanelSection Slide Info

    .presentation
       .slide
          i.fa.fa-cube
          | Slide #1
       .slide
          i.fa.fa-cube
          | Slide #2    
    
    script(src="vendor/jquery/jquery.js")
    script(src="vendor/foundation/js/vendor/modernizr.js")
    script(src="vendor/foundation/js/foundation.min.js")
    script(src="vendor/angular/angular.js")
    script(src="bundle.js")
    script.
      $(document).foundation();

