doctype html
html(lang="en", ng-app="pepper")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "My awesome slideshare !"
    link(rel="stylesheet", href="vendor/foundation/css/normalize.css")
    link(rel="stylesheet", href="vendor/foundation/css/foundation.css")
    link(rel="stylesheet", href="vendor/fontAwesome/css/font-awesome.css")
    link(rel="stylesheet", href="ressources/Korpo_Sans_Family_Webfonts/stylesheet.css")
    link(rel="stylesheet", href="css/style.css")
  body

    .uiPanel#PresentationPanel.leftPanel
      ul
        li.uiPanelSection
          header Load/Save slideshare
          section
            p Load slideshare
            p Save slideshare 
        li.uiPanelSection
          header Select slide
          section
            .slideSnapshot
              h4 Slide #1
            .slideSnapshot
              h4 Slide #2
          
        li.uiPanelSection change slideshare theme
        li.uiPanelSection Presentation mode
    
    .uiPanel#SlidePanel.rightPanel
      ul
        li.uiPanelSection Slide Info

    presentation
       slide
         h1
           i.fa.fa-cube
           | Slide Title
         ul
           li Gnip
           li Gnop
           li Glup
           li Gnark
           li Muf
          

    
    script(src="vendor/jquery/jquery.js")
    script(src="vendor/foundation/js/vendor/modernizr.js")
    script(src="vendor/foundation/js/foundation.min.js")
    script(src="vendor/angular/angular.js")
    script(src="deleteMePlz.js")
    script(src="bundle.js")
    script.
      $(document).foundation();

